.p1{
    background-color: blue;
    width: 1024px;
    height: 118px;
    
    
    
}
body{
    background-color: black;
}
.p2{
    background-color: red;
    width: 1000px;
    height: 200px;
    
    
}